.common .dark-theme {
  --clr-accent: #EB455F;
  --clr-bg: #181D31;
  --clr-bg-shade: #20272E;
  --clr-bg-contrast: #2B3A55;
  --clr-text-main: white;
  --clr-text-secondary: #FEFCF3;
  --clr-touch: #46C2CB;
}

@font-face {
  font-family: 'Flyme';
  src: url('FlymeSansVF-VF.ttf') format('truetype');
  /* Add additional font formats if necessary */
  /* Specify the correct path to the font files */
}

.common .light-theme {
  --clr-accent: #EB455F;
  --clr-bg: #FCFFE7;
  --clr-bg-shade: #D3DBE5;
  --clr-bg-contrast: #181D31;
  --clr-text-main: black;
  --clr-text-secondary: #d5b215;
  --clr-touch: #46C2CB;
}

.common body { 
  margin: 0;
  font-family: 'Flyme', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5em;
}

.common body.themeEnablingClass {
  background-color: var(--clr-bg-shade);
  color: var(--clr-text-main);
}

.common a {
  text-decoration: none;
  color: var(--clr-text-main);
}

.common code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}